<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.soo.helloworld.mapper.BlockUserMapper">

    <insert id="insertBlockUser" parameterType="String">
        INSERT INTO block (blockId, blockedBy) VALUES (#{targetId}, #{userId})
    </insert>

    <select id="isUserBlocked" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT blockId FROM block WHERE blockedBy = #{userId} AND blockId = #{targetId})
    </select>

    <delete id="deleteBlockUser" parameterType="String">
        DELETE FROM block WHERE blockedBy = #{userId} AND blockId = #{targetId}
    </delete>

    <select id="getBlockUserList" parameterType="me.soo.helloworld.model.blockuser.BlockUserListRequest"
            resultType="me.soo.helloworld.model.blockuser.BlockUserList">

        SELECT id, blockId FROM block
        WHERE blockedBy = #{userId}
        <if test="pagination.cursor != null">
            AND id <![CDATA[<]]> #{pagination.cursor}
        </if>
        ORDER BY id DESC
        LIMIT #{pagination.pageSize}
    </select>
</mapper>