<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.soo.helloworld.mapper.BlockUserMapper">

    <insert id="blockUser" parameterType="String">

        INSERT INTO block (userId, blockId)
            VALUES (#{userId}, #{targetId})
    </insert>

    <select id="isUserBlocked" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT blockId FROM block WHERE userId = #{userId} AND blockId = #{targetId})
    </select>
</mapper>