<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.soo.helloworld.mapper.ChatMapper">

    <insert id="insertChats" parameterType="me.soo.helloworld.model.chat.ChatWrite">

        INSERT INTO chats (chatBoxId, recipient, sender, content, sentAt) VALUES
        <foreach collection="chats" item="chat" separator=",">
            (#{chat.chatBoxId}, #{chat.recipient}, #{chat.sender}, #{chat.content}, #{chat.sentAt})
        </foreach>
    </insert>

    <select id="isChatBoxExist" parameterType="String" resultType="boolean">

        SELECT EXISTS (
            SELECT id
            FROM chatboxes
            WHERE userOne in (#{sender}, #{recipient})
            AND userTwo in (#{sender}, #{recipient})
        )
    </select>

    <insert id="insertChatBox" parameterType="String">

        INSERT INTO chatboxes (userOne, userTwo)
        VALUES (#{sender}, #{recipient})
    </insert>

    <select id="getChatBoxId" parameterType="String" resultType="int">

        SELECT id FROM chatboxes
        WHERE userOne in (#{sender}, #{recipient})
	    AND userTwo in (#{sender}, #{recipient})
    </select>

    <select id="getChatBoxes" parameterType="map" resultType="me.soo.helloworld.model.chat.ChatBox">

        SELECT
            c1.id AS id,
            c1.chatBoxId AS chatBoxId,
            IF(c1.recipient = #{userId}, c1.sender, c1.recipient) AS partner,
            c1.content AS content,
            c1.sentAt AS sentAt
        FROM chats AS c1
            LEFT OUTER JOIN chats AS c2 on c1.chatBoxId = c2.chatboxId AND c1.id <![CDATA[<]]> c2.id
        WHERE c2.id IS NULL
            <if test="pagination.cursor != null">
            AND c1.id <![CDATA[<]]> #{pagination.cursor}
            </if>
            AND #{userId} IN (c1.recipient, c1.sender)
        ORDER BY id DESC
        LIMIT #{pagination.pageSize}
    </select>
</mapper>