<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.soo.helloworld.mapper.RecommendationMapper">

    <select id="isRecommendationExist" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT id FROM recommendations WHERE recomFrom = #{from} AND recomTo = #{to})
    </select>

    <insert id="insertRecommendation" parameterType="me.soo.helloworld.model.recommendation.Recommendation">
        INSERT INTO recommendations (recomTo, recomFrom, content) VALUES (#{to}, #{from}, #{content})
    </insert>

    <select id="getHowLongSinceWrittenAt" parameterType="map" resultType="Integer">

        SELECT TO_DAYS(NOW()) - TO_DAYS(writtenAt) FROM recommendations
        WHERE id = #{id} AND recomFrom = #{from}
    </select>

    <update id="updateRecommendation" parameterType="map">

        UPDATE recommendations SET content = #{modifiedContent}
        WHERE id = #{id} AND recomFrom = #{from}
    </update>

    <select id="getRecommendationsByUserId" parameterType="String" resultType="me.soo.helloworld.model.recommendation.RecommendationDataForProfile">

        SELECT recomFrom, content FROM recommendations
        WHERE recomTo = #{userId}
    </select>
</mapper>